body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* HEADER */
.wrapper {
  padding: 0 150px;
}
.header ul {
  list-style: none;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.header ul li {
  display: inline;
  padding-right: 25px;
  font-weight: 500;
}
.header ul li a {
  text-decoration: none;
  color: black;
}
.header__logo i{
  float: left;
  color: #d0aa13;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  font-weight: 100;
  margin-right: 10px;
  margin-top: 5px;
}
.clear-both {
  clear: both;
}
/* CAROUSEL */
.carousel {
  background-image: url("../images/2.jpg");
  height: 600px;
  background-size: cover;
  background-position: top center;
}
/* WELCOME */
.welcome__content {
  float: left;
  width: 50%;
  padding-top: 40px;
}
.welcome__content p {
  color: #979797;
  padding-right: 60px;
}
.welcome__content button {
  background-color: #fdc800;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 5px;
}
.welcome__content img {
  width: 100%;
  padding-top: 22px;
}
/* INFO */
.info {
  background-color: #f6f6f6;
  margin-top: 50px;
}
.item {
  float: left;
}
.content {
  width: 140px;
  margin: 60px 0px;
  padding-left: 10px;
}
.number {
  font-size: 50px;
  font-weight: 700;
}
.info__item {
  float: left;
  width: 25%;
}
/* BUSINESS */
.business {
  margin: 60px 0;
}
.business__item i {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 10px;
}
.business__items {
  padding: 15px;
  width: 25%;
  text-align: center;
  float: left;
  box-sizing: border-box;
}
.business__item {
  color: white;
  background-color: #002146;
  border-radius: 3px;
  padding: 35px 0;
}
.business__item p {
  margin: 0;
}
/* NEWS */
.news {
  background-color: #f6f6f6;
  padding-top: 70px ;
  padding-bottom: 70px;
}
.news h1 {
  padding: 20px 0;
}
.new {
  float: left;
  width: 48%;
}
.post { 
  float: left;
}
.posts--img {
  width: 35%;
  margin-right: 20px;
  border-radius: 5px;
}
.posts--info {
  width: 60%;
}
.posts--info h4 {
  margin: 0;
}
.posts {
  background-color: white;
  padding: 30px 15px;
  border-bottom: 2px solid #f6f6f6;
}
#date {
  color: #979797;
}
.view-all {
  float: right;
  padding: 20px 40px;
  border: none;
  margin: 30px 0px;
  background-color: #fdc800;
  border-radius: 5px;
  font-weight: 900;
  font-style: 15px;
}
.news__post {
  /* margin-right: 10px; */
}
.news__event {
  float: right;
}